:root {
  --bg: #ffffff;
  --grey: #B7B7B7;
  --text: #222831;
  --blue: #043157;
  --red: #e63130;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100%
}

input {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* remove scrollbar from whole application and make scroll animation smooth*/
body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}