.popup-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    width: 130%;
    border-top: 1px solid var(--grey);
    margin-block: 5px; /* Adjust as needed */
    margin-bottom: 8px;
    border-radius: 4px;
}

.popup-display-save-text-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-display-save-icon {
    margin-right: 5px;
    color: var(--blue);
}

.popup-display-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109%;
    font-size: 12px;
    font-weight: 800;
}